.firstclass {
  font-family:Arial Black;
}
div.standardannotation {
  background-color: tan;
  %width: 500px;
  %height: 100px;
  padding: 25px;
 border-top-style: groove;
  border-top-color: orange;
  border-top-width: 25px;
  border-left-style: groove;
  border-left-color: blue;
  border-left-width: 25px;
  border-right-style: groove;
  border-right-color: blue;
  border-right-width: 25px;
  border-bottom-style: groove;
  border-bottom-color: orange;
  border-bottom-width: 25px;
}
.loginbox {
  margin: auto;
    width: 60% !important;
    padding: 10px;
}
div.error {
  background-color: red;
  %width: 500px;
  %height: 100px;
  padding: 25px;
  color: orange;
}
div.msg {
  background-color: blue;
  %width: 500px;
  %height: 100px;
  padding: 25px;
  color: green;
}

center {
    text-align:center;
}
div.big {
  background-color: black;
  %width: 500px;
  %height: 500px;
  padding: 25px;
 border-top-style: solid;
  border-top-color: gray;
  border-top-width: 25px;
  border-left-style: solid;
  border-left-color: gray;
  border-left-width: 25px;
  border-right-style: solid;
  border-right-color: gray;
  border-right-width: 25px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 25px;
}
